[alias]
l = log --format='%C(yellow)%h%Creset %s %C(black bold)(%cr)%Creset' -10
st = status -s
snap = !git stash save "snapshot: $(date)" && git stash apply "stash@{0}"
tree = log --graph --pretty=oneline --abbrev-commit --decorate

[core]
editor = vim -c ':set encoding=latin1'
pager = less -R -F
autocrlf = input

[color]
diff = always
ui = always

[diff]
algorithm = patience

[user]
name = Simon Ratner
email = simon+github@probablyprime.net
