[alias]
l = log --format='%C(yellow)%H%Creset %s %C(black bold)(%cr)%Creset' -10
st = status -s
tree = log --graph --pretty=oneline --abbrev-commit --decorate

[core]
pager =
autocrlf = input

[color]
diff = always
ui = always

[user]
name = Simon Ratner
email = simon+github@probablyprime.net
