[alias]
a = add
b = branch --list
c = commit --no-verify
d = diff
ds = diff --staged
l = log --format='%C(auto,yellow nobold)%h%Creset %s %C(auto,black bold)(%cr)%Creset' -20
s = status -sb
sls = stash list --format='%C(auto,yellow nobold)%gd%Creset %gs %C(auto,black bold)(%cr)%Creset'
snap = !git stash push -m "snapshot: $(date)" && git stash apply 'stash@{0}'
tree = log --graph --pretty=oneline --abbrev-commit --decorate
buildnum = "!f() { \
  commit=$(git rev-list HEAD | tail -n${1-+0} | head -n1); \
  count=$(git rev-list --count $commit); \
  git log --format='%C(auto,red bold)'$count' %C(auto,yellow nobold)%h%Creset %s %C(auto,black bold)(%cr)%Creset' -1 $commit; \
}; f"

[core]
editor = vim +1
pager = less -XFR
autocrlf = input
longpaths = false

[color]
diff = always
ui = always

[diff]
tool = vimdiff
algorithm = histogram

[difftool]
prompt = false

[difftool.vimdiff]
cmd = vimdiff $LOCAL $REMOTE

[pull]
ff = only

[push]
default = simple

[user]
name = Simon Ratner
email = simon+github@probablyprime.net
